* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f7fb;
    color: #222;
}

header {
    background: linear-gradient(135deg, #111827, #2563eb);
    color: white;
    padding: 20px 20px;
    text-align: center;
}

.header-content {
    max-width: 900px;
    margin: auto;
}

.subtitle {
    letter-spacing: 4px;
    font-size: 13px;
    margin-bottom: 15px;
    opacity: 0.8;
}

header h1 {
    font-size: 45px;
    margin-bottom: 12px;
}


footer {
    background-color: grey;
    color: black;
    padding: 10px 20px;
    text-align: center;
    line-height: 1.5;
}


.container {
    width: 90%;
    max-width: 1250px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.card {
    position: relative;
    background: beige;
    padding: 28px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.13);
}

.card h2 {
    margin: 10px 0 22px;
    font-size: 21px;
    color: black;
    padding-right: 30px;
}

label{
    font-size: 14px;
    color: #111827;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 13px 15px;
    margin-bottom: 12px;
    border: 1px solid #d8dee9;
    border-radius: 10px;
    /* outline: none; */
    font-size: 15px;
    transition: 0.2s;
}

input:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0e39b0;
    transform: scale(1.02);
}

button:active {
    transform: scale(0.98);
}


.result {
    margin-top: 15px;
    padding: 13px;
    min-height: 45px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: rgb(190, 181, 190);
    color: black;
    font-weight: bold;
}

@media (max-width: 650px) {

    .container {
        grid-template-columns: 1fr;
        width: 92%;
    }

    header {
        padding: 45px 15px;
    }

    header h1 {
        font-size: 32px;
    }

    .description {
        font-size: 15px;
    }

    .card {
        padding: 23px;
    }
}